.model-item {
  width: 150px;
}
.model-item img {
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 5px black;
  margin-bottom: 5px;
}
.model-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: grey;
}
@media only screen and (max-width: 600px) {
  .model-item {
    max-width: 150px;
  }
}
