* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input:focus {
  outline: none;
}

/** Authentication **/

.auth-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 120px 0;
}
.auth-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid orange;
  border-radius: 10px;
  height: 250px;
}
.auth-banner {
  padding: 80px 0 0 0;
  width: 400px;
  height: 100%;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.auth-inputs {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.auth-inputs input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: justify;
}
.auth-inputs button {
  background: orange;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}
.footer-demo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

/** Filter **/
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  height: 80vh;
  width: 25%;
  padding: 20px;
  background: pink;
}
.filter-menu-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.filter-menu-item input,
.filter-menu-item select {
  height: 25px;
  width: 150px;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
  color: gray;
}
.model-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  margin: 0 20px;
  width: 75%;
}
@media only screen and (max-width: 600px) {
  .filter-menu {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 90vw;
    transform: translateX(110vw);
    overflow: hidden;
  }
  .model-menu {
    width: 100%;
    padding: 10px;
  }
}
